
<div class="table-responsive-md" style="margin-top:2em; font-size:.8em">
    <table class="table table-striped table-bordered" >
        <tbody>
            <tr class="table-warning">
              <td>Retrieve All Image Objects.</td>
              <td><button type="button" class="btn btn-success btn-sm" (click)="getDBdata()">Retrieve Image Objects</button></td>
            </tr>
            <tr class="table-warning">
                <td>Upload Image Objects Details File</td>
                <td>
                    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                    <button type="button" class="btn btn-success btn-sm" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                      Upload File
                    </button>
                </td>
              </tr>
          </tbody>
    </table>
</div>

<div class="table-responsive-md" style="margin-top:2em; font-size:.8em">
<table class="table table-striped table-bordered" >
    <thead class="thead-dark">
      <tr>
        <th>Image Object ID</th>
        <th>Shape</th>
        <th>Geometry Type</th>
        <th>Iris Image ID</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-warning" *ngFor="let element of jsonData">
        <td>{{element.IMAGE_OBJECT_ID}}</td>
        <td>{{element.SHAPE}}</td>
        <td>{{element.GEOMETRY_TYPE}}</td>
        <td>{{element.IRIS_IMAGE_ID}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="btn btn-success" style="margin-top:2em;">
  {{jsonData.port}}
</div> -->
